<%- include('partials/_header')  %> 

<%- include('partials/_flash')  %> 

<div class="container" id="signform">
    <div class="form-title">
        <h1><%= title %></h1>
    </div>
    
    <div class="form">
      <form action="/signin" method="post">

          <div class="col inputmargin">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email">
          </div>

          <div class="col inputmargin">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="pass">
          </div>

          <div class="btn-center">
            <button class="btn btn-primary inputmargin "> Sign In </button>
          </div>
        </form>
    </div>
  </form>
</div>

<%- include('partials/_footer')  %> 