<%- include('partials/_header')  %> 

<div class="x404container">
    <h1>404</h1>
    <h4>Opps something went wrong !!</h4><br>
    <h4>Please wait for 5 seconds you will be redirected to Home Page</h4>
</div>

<script src="js/x404.js"></script>
<%- include('partials/_footer')  %> 