.container{
    /* border: 1px solid red; */
    margin-top: 120px;

}
.form{
    /* border: 1px solid black; */
    width: 400px;
    height: 300px;
    margin: 40px auto;
}
.inputmargin{
    margin-top:15px ;
}
.btn-center{
    text-align: center;
    margin-top:15px ;
}
.form-title{
    text-align: center;
}

.x404container h1{
   font-size: 400px;
   color: silver;
   text-align: center;
   margin: 50px auto;
}

.x404container h4{
    text-align: center;
}

.userContainer{
    /* border: 1px solid red; */
    width: 1000px;
    height: 400px;
    margin: 100px auto;
}

.dashboard h1{
    text-align: center;
    margin-top: 80px;
}

.btnright{
  margin-left: 850px;
}

.cardcontainer{
    /* border: 1px solid red; */
    width: 70%;
} 

.techdiv{
    /* border: 1px solid red; */
    width: 70%;
} 

div.messages {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
ul.messages {
    list-style: none;
    min-width: 600px;
    max-width: 600px;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
  }
  
  ul.messages * {
    padding: 8px 12px;
    border-radius: 8px;
  }
  
  .messages .error {
    background-color: #f87171;
  }
  .messages .success {
    background-color: #6ee7b7;
  }
  .messages .warning {
    background-color: #fcd34d;
  }
  .messages .info {
    background-color: #93c5fd;
  }

  @media only screen and (max-width: 600px) {
    .x404container h1{
      font-size: 100px;
    }

    .userContainer{
      /* border: 1px solid red; */
      width: 350px;
      height: 400px;
      margin: 100px auto;
  }

  .btnright{
    margin-left: 0px;
  }

  ul.messages {
    list-style: none;
    min-width: 300px;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
  }

#signupform{
  max-width: 350px;
margin-left: 0px;
}

#signinform{
  max-width: 350px;
margin-left: 0px;
}
  }